.vscode/*
__pycache__
Brazilian_Forecast.io.egg-info/dependency_links.txt
Brazilian_Forecast.io.egg-info/PKG-INFO
Brazilian_Forecast.io.egg-info/SOURCES.txt
Brazilian_Forecast.io.egg-info/top_level.txt
Brazilian_Forecast.io.egg-info/requires.txt
dist/Brazilian-Forecast.io-0.0.1.tar.gz
